[2015-02-06 01:21] brianmhunt opened #1 "Add $index() to the context for each item"
The current implementation looks to be either `O(2^n)` or `O(n^3)` (depending on what you are measuring). In either case the default `foreach` is practically unusable for larger lists (> 3000 items).

It looks like the fastest we can get an automatically updated `$index` in the average case is `O(n)` (more precisely, `O(n/2)` for random indexes). My thinking is after the `processQueue` finishes th

[2015-02-06 11:16] losogudok opened #2 "Doesn't work data-bind="*: $data" on children"
When you have children with $data keyword fastForEach doesn't populate it with data.
Example:
http://jsfiddle.net/stgdmLf0/

[2015-02-06 11:22] losogudok opened #3 "Doesn't work with plain arrays."
If data for fastForEach is normal array, script will raise an error.
The problem is in line 51.
[code]

[2015-02-06 12:31] AdamWillden opened #4 "Does not work on virtual elements"
Not sure if there's a particular reason but this doesn't work on virtual elements.

[code]

[2015-02-06 12:38] brianmhunt commented on #4
Thanks for the report, Adam. I just thought of that this morning.

There are two reasons, one substantive. The first is that  we need  to set `ko.virtualElements.allowedBindings.fastForEach = true;` (just to tell KO that we have built this binding with virtual elements in mind.

The second is to build the binding with virtual elements in mind. :) As far as I can see so far, it's just a matter of c

[2015-02-06 12:40] brianmhunt commented on #3
Thanks @losogudok - I'll get to this one ASAP, but feel free to send a PR, too.

Cheers

[2015-02-06 12:53] brianmhunt commented on #2
Thanks @losogudok – Figured it out -- issue at https://github.com/brianmhunt/knockout-fast-foreach/blob/master/index.js#L103

Cheers

[2015-02-06 13:09] AdamWillden commented on #4
Yeah I had just tried adding the allowedBindings to see if that's all that was missing. Unfortunately not so lucky!

[2015-02-06 13:18] brianmhunt commented on #4
Shouldn't be too hard to fix; on it now. :)

[2015-02-06 16:36] #2 closed

[2015-02-06 16:36] #3 closed

[2015-02-06 16:36] #4 closed

[2015-02-06 16:36] brianmhunt commented on #4
Should be fixed; let me know if you have any issues, Adam. Cheers

[2015-02-06 16:37] brianmhunt commented on #3
Should be fixed - let me know if you have any issues. Cheers.

[2015-02-06 16:37] brianmhunt commented on #2
Also should be fixed. :smile: But appreciate a heads up with any issues. Cheers

[2015-02-06 16:47] brianmhunt commented on #2
Incidentally, here's the result of the jsFiddle now:

[code]

[2015-02-06 17:46] AdamWillden commented on #4
0.2 looks good in terms of this issue. Thanks.

I think I'm facing other issues now will post new issues soon once I determine whats happening.

[2015-02-06 17:48] AdamWillden commented on #4
Should I assume the aim is to swap any foreach bindings for fastForEach without issues?

[2015-02-06 17:57] AdamWillden opened #5 "Failed to execute 'removeChild' on 'Node': parameter 1 is not of type 'Node'"
Using 0.2.

I have a page by option which if I lower (pag by 15 to page by 5 - removing last 10 items from the currrent collection) I get an exception `Uncaught TypeError: Failed to execute 'removeChild' on 'Node': parameter 1 is not of type 'Node'.`.

This line returns undefined trying to access index [134] of 134 items:
https://github.com/brianmhunt/knockout-fast-foreach/blob/master/dist/knockou

[2015-02-06 18:07] brianmhunt commented on #4
@AdamWillden - Many thanks, much appreciated. Yes exactly re. swapping for `foreach`, subject to #1 (i.e. `$index` not _yet_ working, and needing a bit of thought).

[2015-02-06 18:11] brianmhunt commented on #5
Thanks Adam. This would seem to be an off-by-one error. Any chance you could post a jsFiddle or jsBin that illustrates? (Here's a [sample jsfiddle](http://jsfiddle.net/stgdmLf0/) from #2 that could be a good base.) I can't glean exactly where the problem stems from just from the description.

Cheers

[2015-02-06 18:41] AdamWillden commented on #5
http://jsfiddle.net/zfqj5rb7/ :-)

[2015-02-06 19:10] AdamWillden opened #6 "Old items are not removed"
Best to show this as an example again: http://jsfiddle.net/pbgbj8pe/

See that old items are not removed when toggling skip and note what should be shown in the console log.

[2015-02-06 19:25] AdamWillden commented on #6
Not sure if this is related to this issue or #5 but I've just looked at your processing of the [array change event](https://github.com/brianmhunt/knockout-fast-foreach/blob/master/dist/knockout-fast-foreach.js#L108).

You must process the array change events by performing all deletes first followed by additions. See mbests comments [here](https://groups.google.com/forum/#!topic/knockoutjs/B79OlJhf

[2015-02-06 22:25] brianmhunt commented on #6
Thanks @AdamWillden - those links were lifesavers. I _think_ I have fixed this, and I will be uploading the change-set momentarily (and bumping to 0.2.2). The unit tests we now have in `spec/` should make it easy to add test cases.

I will reference and  close this issue via the comments, but if you are still experiencing issues I would be most grateful if you could report and re-open this.

Cheer

[2015-02-06 22:30] #5 closed

[2015-02-06 22:33] brianmhunt commented on #5
This looks fixed too - same as #5.

Thanks so much @AdamWillden – definitely would not have progressed as far on this plugin today without all your feedback. Very sincerely appreciated.

:beers:

[2015-02-07 11:14] losogudok commented on #2
Thanks for fast reply!
And about timing. You know it's not actually true because we are dealing with asynchronous events, but anyway fastForEach is faster than native. I'll do benchmarks later.

[2015-02-07 11:15] losogudok commented on #3
Thanks! I'd like to contribute but first I need to understand how Ko works inside.

[2015-02-07 13:06] brianmhunt commented on #2
Right you are on the async, I totally forgot to turn it off! Here's the jsFiddle with async turned off: http://jsfiddle.net/stgdmLf0/3/

Not much of an improvement:

[code]

Of course on the first run through they're doing the exact same thing – the advantage is with the adding and deletes.

It'd be really great to have some jsFiddles that demonstrate the difference. Just a couple thoughts:

For b

[2015-02-07 13:09] brianmhunt commented on #3
Thanks @losogudok – KO is a pretty hefty project, but I'm always eager to help if you have any questions.

Some benchmarks on jsFiddle would also be very good at illustrating the point of this plugin.

Cheers!

[2015-02-07 14:16] AdamWillden commented on #6
@brianmhunt unfortunately the behaviour is not fixed (just tried 0.2.4) there's something unrelated to what I pointed you towards.

Check in the same jsfiddle (http://jsfiddle.net/pbgbj8pe), how do I reopen? Am I being blind?

[2015-02-07 14:28] brianmhunt commented on #6
Many thanks @AdamWillden – Reopened. Let me have a look.

[2015-02-07 14:32] brianmhunt commented on #6
@AdamWillden  —  The issue at hand is not jumping out at me. I am probably being dense, but could you perhaps give some more details as to what you are getting and what you expect?

Even better, if it is not too much trouble, would be to have the problem demonstrated in a unit test in [spec/knockout-fast-foreach-spec.js](https://github.com/brianmhunt/knockout-fast-foreach/blob/master/spec/knockout

[2015-02-07 14:52] AdamWillden commented on #6
I will try but I'm really pushing against a deadline at the moment (in fact my deadline came and went last Monday!). I'm interested in getting fastForEach working though.

You can see the expected current output in the console. If you keep clicking between the two buttons you'll see duplicate items start filling up too. The console output is key though.

[2015-02-07 17:30] AdamWillden commented on #6
Here's a clearer output on the jsfiddle http://jsfiddle.net/rm2u2tub/

I'll try and do a unit test, looking a the existing unit tests I have a theory of what it might be. The example I have in the jsfiddle is the result of a computed where it's not the original array changing but instead producing a new array altogether. Perhaps it's something around that idea which is causing an issue.

I see the

[2015-02-07 17:50] brianmhunt commented on #6
Thanks Adam. I'm out on the road right now, but will look at this ASAP.

On the difference between observable as computed, the `trackArrayChanges` extender should work exactly the same- hence only one test. That said I will definitely check out the lead and delve into it further as soon as I have a chance.

[2015-02-07 19:43] AdamWillden commented on #6
Right, now I am suitably confused! I added [a bunch of tests](https://github.com/AdamWillden/knockout-fast-foreach/tree/patch-2) following the vein of the your observable tests and **they all pass!**

I'm at a loss. I'm definitely experiencing the issue in my main app in more than one place and it is evident in the fiddle. I'm fairly certain those tests replicate the fiddle use case too.

[2015-02-07 20:19] AdamWillden commented on #6
Okay so doing a bit of debugging (I've not got chance to look the code over to get the solution).

Looking at [this section of code](https://github.com/brianmhunt/knockout-fast-foreach/blob/master/dist/knockout-fast-foreach.js#L167) `this.lastNodesList` only contains text nodes (nodeType 3) so ptr is a text node whereas `this.element.children` contain dom nodes (nodeType 1)...

Aha right I've sort

[2015-02-07 20:30] AdamWillden commented on #6
Sent PR #9 - not sure how this issue wasn't picked up by the tests...

[2015-02-07 20:46] AdamWillden opened #11 "Computeds that return plain arrays don't report array changes"
Need fix for failing test in PR #10

[2015-02-07 21:14] AdamWillden commented on #11
need to use $rawData in the fastForEach constructor. Would that option not always be the desired option anyway?

[2015-02-08 01:13] brianmhunt commented on #11
Yes, I think you're absolutely right about always using `$rawData` - I think that solves other issues I was hitting too.

[2015-02-08 12:39] #6 closed

[2015-02-08 12:39] #11 closed

[2015-02-08 12:40] brianmhunt commented on #6
Ok - looks like the delete issues are sorted. I made an oversight and was doing something quite silly and rather wrong, but it looks to be fixed now. Of course @AdamWillden if you see any silliness or wrongness hanging about, I would be most grateful if you could please advise! :)

Cheers

[2015-02-08 12:41] AdamWillden commented on #6
Great work @brianmhunt. I'll try the latest dist and let you know if anything's not working!

[2015-02-08 16:01] AdamWillden commented on #11
@brianmhunt I see you fixed the failing test (though you didn't include it?)

I'm still having issues in my application and I think it's around the same issue despite my additional test now passing (I took the latest changes and rebased the test I wrote to check it passed).

This is the code that's causing me issue, it just shows 10 closest pages that the user can click on, be it 5 previous and 5

[2015-02-08 17:56] losogudok opened #12 "Perfomance issues. "add" method"
Hi, I've done some benchmarks and realized that script bottleneck is "add" function. We can make it work faster!

First thing to do, is to group all new elements in virtual DOM (document fragment) and then insert them together. DOM operations are expensive.
[code]
I will try to solve this problem.

[2015-02-08 18:11] brianmhunt commented on #12
Awesome! Great feedback - look forward to seeing what you come up with!

[2015-02-08 19:24] brianmhunt commented on #11
Thanks Adam - the test from your PR should be at the bottom of the spec (sorry I'm on mobile so it's slow!). If not I have missed it and need to add it.

Any chance you could post the output of `page.subscribe(console.log, console)` in a new issue where `page` is the observable argument for the foreach? That should be enough to go on and much appreciated!

I'll look too later today when I get to a

[2015-02-08 19:31] AdamWillden commented on #11
Ah my apologies I obviously had my eyes closed looking at your commit for the unit test.

Just in the car atm and will post in the next few hours.

[2015-02-08 20:13] AdamWillden commented on #11
Being previous pages I started off on page one and selected incrementing pages til page 4, here's the output:

[code]

Similarly I have nextPages which uses the following code:

[code]

And outputs:

[code]

Neither of these two computed observables show updates

[2015-02-09 01:34] brianmhunt commented on #11
Got it - should be fixed now. I think I've got every reasonable possible permutation accounted for in the unit tests now (fingers crossed!).

Cheers

[2015-02-09 08:33] AdamWillden commented on #11
@brianmhunt I was so ready to say "all systems go" but I'm still experiencing the same issue :-(

I'll try and debug to find where things aren't working!

[2015-02-09 08:52] AdamWillden commented on #11
Debugging so far shows onArrayChange is not being called on changes.

[2015-02-09 09:43] AdamWillden commented on #11
Right this seems to be partly my own app code. I've changed two things that have shown improvement and a separate issue.

To explain: `nextPages` and `previousPages` used to be functions and at some point I changed them to computeds and forgot to change a couple of extra things. Note however that this used to work with the foreach binding.

Previously I had this in my html markup: ``. I assume in

[2015-02-09 13:57] brianmhunt commented on #11
Thanks for your patience and persistence, @AdamWillden !

Any chance you could post the observable data values that lead to the `Failed to execute`? (i.e. with the `nextPages.subscribe(console.log, console)` – that would narrow down the issue.

Many thanks & Cheers

[2015-02-09 14:10] AdamWillden commented on #11
I think you deserve a thanks for your patience! Its the same output as I put above but I've done it again to be sure

Selected page 2:

[code]

Reloaded the page and selected page 5

[code]

[2015-02-09 14:52] brianmhunt commented on #11
It's my pleasure! Hmm. I can't seem to reproduce the issue you are having now though.

Do you have any suggestions for permutations I might add to the test here that would reproduce the problem at hand?

https://github.com/brianmhunt/knockout-fast-foreach/blob/1f515960e482b2e887ea8f7fbd5851cdf6877873/spec/knockout-fast-foreach-spec.js#L213

What do the nodes being reproduced look like?

Cheers

[2015-02-09 15:21] AdamWillden commented on #11
I'm just debugging a bit now... the html markup is the following (nothing strange):

[code]

[2015-02-09 15:23] brianmhunt commented on #11
Does the issue occur when you use a non-virtual element i.e. change `` to `<div data-bind='..'>`?

[2015-02-09 15:25] AdamWillden commented on #11
Yeah I was just thinking that seems to be that you can't call removeChild on a comment node. I'll just test and report back

[2015-02-09 15:27] AdamWillden commented on #11
@brianmhunt yeah that's the reason, works fine on non-virtual elements

[2015-02-09 15:42] brianmhunt commented on #11
Got it - thanks Adam. Hoping to look at and fix it up tonight.

[2015-02-10 11:15] AdamWillden commented on #11
**_EDIT_  - Ignore this post I might be a tool and getting confused. I don't know...**

I'm seeing this bug more frequently now in other parts of my application (where I also use virtual elements).

Another bug [in my own code](https://github.com/AdamWillden/knockout-projections/commit/4c824d3b0d31b7366afb832a0cc919b2b36f8d67) was causing some entries to not get deleted meaning I didn't see this b

[2015-02-10 13:58] brianmhunt commented on #11
@AdamWillden – There was definitely an issue deleting elements from a virtual element list. Should be fixed now in 0.2.8 - but please let me know if you continue to encounter issues.

Cheers!

[2015-02-10 14:03] AdamWillden commented on #11
@brianmhunt very happy to say that I am no longer experiencing any issues! Anything crops up I'll be sure to let you know in a new issue :+1: great work

[2015-02-10 14:10] brianmhunt opened #13 "Replace/stub ko.virtualElements.hasBindingValue"
Looks like it's not exposed by ko in the minified version (but it works fine in the debug version).

[2015-02-10 14:11] brianmhunt commented on #11
Awesome, thanks Adam. I've opened #13 incidentally; it won't work with the minified version of knockout, but the debug version will. It's not a hard fix, but is a nuisance - hope to get it in tonight / tomorrow.

[2015-02-12 15:00] 4ver opened #14 "Performance demo on jsbin no longer works"
I'm getting the same error with the latest version. If I revert to https://github.com/brianmhunt/knockout-fast-foreach/commit/ce7a29ee9896f6a2a148a9fe9f5dbe955c8d9766 it's okay.

[code]
http://jsbin.com/heteca/6

Cheers.

[2015-02-12 15:48] brianmhunt commented on #14
Thanks @4ver – the problem is #13, namely that I have not yet copied over some private KO functionality for virtualElements to this project. It'll still work with knockout-debug until I get a chance to fix it.

I've updated the links to a version of the JSBin that uses the `-debug` version, so will close this. But please let me know / reopen if I've missed the issue here. :)

Cheers

[2015-02-12 15:48] #14 closed

[2015-02-12 20:05] 4ver commented on #14
Thanks, everything works perfectly now.

[2015-02-13 01:54] #13 closed

[2015-02-19 11:43] AdamWillden opened #15 "Item's inner bindings are not disposed when removed"
[Originally raised against knockout](https://github.com/knockout/knockout/issues/1701) but appears to be an issue with fast-foreach

See console output of this fiddle (click remove):
http://jsfiddle.net/c3zqLmrb/
Vs console output of this fiddle (click remove):
http://jsfiddle.net/0or1xhme/

[2015-02-19 14:09] brianmhunt commented on #15
Thanks Adam.

[2015-02-19 14:10] brianmhunt commented on #15
Thanks for the great report @AdamWillden  - I think I know where this is occurring. Let me think about it and tinker for a bit.

[2015-02-22 10:47] AdamWillden commented on #1
See this: http://jsbin.com/tifadi/1 compared with the original http://jsbin.com/dakihezega/2 with regards to the referenced commit above.

I did a long post to describe what I was going to attempt following my previous attempt at tracking indexes with the `arrayChange` event but my laptop crashed and I lost everything.

[2015-02-22 10:50] AdamWillden commented on #1
Sorry I keep doing commits without my user information and it bugs me so I recommitted and did a force push!

As in the commit message:

Also it is not thoroughly tested although seems to work and passes tests.

It leaves me questioning how the current foreach binding keeps track of item indexes

[2015-02-22 15:23] brianmhunt commented on #1
Thanks @AdamWillden - Sorry you lost your post; I see what you're doing here, and I think it's the right idea.

The performance here could be substantially improved by taking the index update outside the `this.changeQueue` loop. As it stands, unless I am confused, every successive index is being updated with every add to the loop here i.e. the performance is `O(n * n)`. What we want to do is run t

[2015-02-22 19:16] AdamWillden commented on #1
I had passed comment on your idea regarding adding a flag/option in my lost post. I appreciate the desire to have it 100% compatible but I also think this is a different binding and an opportunity to 'do better'. So long as the users have the ability to enable the same functionality. Depends on the final goal. Would you hope to port this code into the core if it were a straight swap?

I don't know

[2015-02-22 19:21] AdamWillden commented on #1
We shouldn't even need to do a `Math.min(changeItem.index, lowestUpdatedIndex);` we could just use `added[0].index` and `deleted[0].index` and compare those. Also if there are consecutive `arrayChange` events before the queue is processed we can reduce `$index` processing further.

[2015-02-22 19:23] AdamWillden commented on #1
Oh sorry now I've re-read your proposal I see you're already suggesting that to some degree. I'm catching up slowly :+1:

[2015-02-22 20:44] brianmhunt commented on #1
Thanks Adam!

This probably won't get merged into KO proper until this works with IE6 (for the 3.x series), or in a future KO release when IE6 (and maybe IE7) support is dropped. I speculate that'll probably be KO 4.x+. One of the key reasons for KO's popularity on some really big sites is the breadth of browser support, so there is a reluctance to deprecate. That said, there are a lot of issues f

[2015-02-23 11:40] AdamWillden commented on #1
Thanks for sharing your vision for this binding.

I should add that I don't personally need this `$index` functionality. I just thought the problem was an interesting one and that I'd edge it forward a little while sitting in a hotel room! However I will look into making the described changes when I next need a break from what I **should** be progressing on. Fixing #15 is actually much more import

[2015-02-25 22:17] brianmhunt commented on #15
@AdamWillden What we want to be calling is [`ko.removeNode`](https://github.com/knockout/knockout/blob/624ddacd5a879ef5bf555d89e648f982a6bd6a4e/src/utils.domNodeDisposal.js#L82) or `ko.cleanNode` to remove or clean the node before removal.

Will update when the code when I get a chance, but please feel free to flip a PR along these lines.

Cheers

[2015-02-26 15:58] #15 closed

[2015-07-13 11:58] cervengoc opened #19 "A more detail description about fast foreach binding?"
Hello Biran, and first of all thank you for your efforts in this area. IMHO the foreach binding performance issues are one of the biggest downsides of knockoutjs currently, so I was really happy to see your project.

Could you put together a more detailed description on the GitHub homepage about your solution? I mean describe how it works, key differences with original foreach, notes about any lim

[2015-07-13 12:13] cervengoc commented on #19
Ok, I realized that it's not a huge amount of source code so I had a look and now have the idea. It means that there is nothing really urgent, for me at least :)

[2015-07-13 13:35] brianmhunt commented on #19
Thanks @cervengoc – glad to see you've sorted your way through the code.

When I get a chance this plugin may be beefed up with docs and parity with the original binding provider.

Appreciate the interest, and I hope it's helpful. :)

[2015-07-13 14:14] cervengoc commented on #12
Has any progress been made in this direction so far?

I also would be happy for this kind of improvement. The idea seems to be simple, and it's easy to gracefully degrade in older browsers by just simply using the original technic instead of document fragments.

Groupable items should be easily gathered together because based on my tests KO organizes the array change notifications in the correct o

[2015-07-13 14:19] brianmhunt commented on #12
@cervengoc I'd really love and appreciate a PR on this – I don't recall @losogudok sharing any progress, but @losogudok please let us know if you have. :)

Cheers

[2015-07-13 14:41] AdamWillden commented on #12
@cervengoc I'd be of the assumption you might as well look into doing a PR yourself as it's been a while. If you have the time to get a PR together then I'd appreciate it too (I'd certainly benefit from it). I briefly looked at this issue but time isn't on my side at the moment - never is :(

[2015-07-13 14:58] AdamWillden opened #20 "Knockout Task Scheduler"
@brianmhunt after we looked into batching for the knockout components ([see here](https://github.com/knockout/knockout/pull/1659))? mbest appeared to use the new task scheduler ([see here ](https://github.com/knockout/knockout/pull/1738)). I know you use `FastForEach.animateFrame` here which is similar to the batching we looked into.

Is there any benefit in considering the use of the task schedul

[2015-07-13 15:26] cervengoc commented on #12
@brianmhunt @AdamWillden yes, I've already started working on it, and the first results on a modern Chrome are stunning. Rendering time of 100-200 items in an array reduced to about 10%.

I have technical difficoulties with contribution though, to be honest I've never used GitHub in this way yet. Is there any kind of docs where it's explain what to install, how to run tests, etc.? I would really a

[2015-07-13 15:56] 4ver commented on #12
@cervengoc Can you create a fork of this repo and push your changes to it? I'd love to have a look!

Prerequisites are having [nodejs/npm](https://nodejs.org/) and [gulp](https://github.com/gulpjs/gulp) installed. To install gulp run `npm install gulp -g`. To install this repos dependencies: `npm install`. To run the tests: `npm test` :smile: simple as!

[2015-07-13 16:07] cervengoc commented on #12
@4ver Thanks, sure, I'll do it tomorrow

[2015-07-13 16:45] brianmhunt commented on #20
@AdamWillden It's a good question, and I had mulled it too as @mbest was making the patches to the knockout main.

The advantage of animation frames is basically power-friendliness i.e. the browser tab will sleep when not active, even if there are deferred events going on.

The advantage of the task scheduler is that it has sub-redraw asynchronous behaviour i.e. the asynchronous events happen fast

[2015-07-13 16:50] brianmhunt commented on #12
@cervengoc @4ver Owing to my oversight, `npm test` will not work – you can test it with `gulp live`–  then you can connect to the local webserver (the address should be printed when run).  Sorry about that! :grin:

[2015-07-13 18:15] AdamWillden commented on #20
I applaud you for that reply!

You don't have to keep this open. I won't be submitting a PR any time too soon to configure the async option as I dont have any immediate need to test it. It just occurred to me there might be some benefit here and wondered if you'd considered it yourself ...and you had.

I'm intrigued to know what makes ko.tasks have "sub-redraw asynchronous behaviour" and to really

[2015-07-13 18:15] #20 closed

[2015-07-13 19:09] brianmhunt commented on #20
@AdamWillden My pleasure!

Here's the relevant bit of sub-redraw async behaviour:

https://github.com/knockout/knockout/blob/master/src/tasks.js#L8-L15

In particular you'll want to look up mutation observers, and [other techniques](http://stackoverflow.com/questions/19906947)

Cheers

[2015-07-14 08:17] nmehlei opened #21 "Achieve parity with classic foreach functionality (afterRender etc.)"
In my codebase, I implemented a wrapper around the foreach binding that handles custom scrolling behavior. To update scrolling, I use the afterRender and beforeRemove hooks of said binding.

It would be nice if knockout-fast-foreach could also offer these hooks. That way, it could act as a drop-in replacement as currently I can't use it without them.

[2015-07-14 09:22] cervengoc commented on #21
@nmehlei @brianmhunt  I'm planning to work on it soon, because I need it too. Doesn't seem to be too difficoult at first glance.

[2015-07-14 09:23] cervengoc commented on #12
I've made a fork and a commit with my solution, anyone feel free to check it. I'd happy to hear your thoughts and ideas. All existing tests are passed, I didn't create any new though, because I have no idea how this enhancement could be tested.

[2015-07-14 11:38] brianmhunt commented on #12
Thanks @cervengoc !

It's hard to tell what's happening -- if you look at the [diff](https://github.com/cervengoc/knockout-fast-foreach/commit/07b5d564782ebc5eb19ed8ae8909f61a7511239f) it looks like almost every line changed (which does not actually seem to be the case).

Also it looks like you added the UMD headers to `index.js` – they should not go there, as the UMD headers are added automatical

[2015-07-14 11:52] cervengoc commented on #12
@brianmhunt I'll try to clean it up. Sorry, I don't have any experiance here yet. Also, I'm using visual Studio which probably auto-formatted the code, and that can lead to such heavy change log.

[2015-07-14 12:14] cervengoc commented on #12
@brianmhunt OK, I reverted the previous commit, and made a new one, it seems to be much better. Please check it out.

[2015-07-15 00:53] brianmhunt commented on #12
Ok, I've cleaned up the repo a bit and merged the PR as `v0.4.0`

There's one issue that lingers, namely: the line https://github.com/brianmhunt/knockout-fast-foreach/blob/master/index.js#L236 causes a failure in PhantomJS 1.X (the preferred browser for testing on CircleCI). This is an older Webkit browser, so lots of things break and I am ok not supporting it, but it would be good if the auto-tes

[2015-07-15 00:53] #12 closed

[2015-07-15 00:54] brianmhunt opened #23 "Make auto-tests work"
Fail on CircleCI:

https://circleci.com/gh/brianmhunt/knockout-fast-foreach/6?utm_campaign=build-failed&utm_medium=email&utm_source=notification

Note comments at end of https://github.com/brianmhunt/knockout-fast-foreach/issues/12#issuecomment-121437758

[2015-07-15 07:59] cervengoc commented on #1
Just a thought to add here: In 99% of my development I find myself using $index observable for 3 use cases: checking it for 0; checking it for [length-1]; checking it for odd/even. To go even further, as I can emember I've never been in a situation where I needed the $index for other use case, doesn't seem to be reasonable to check it for being equal to, let's say 541.

Probably we could offer suc

[2015-07-15 08:09] cervengoc commented on #23
@brianmhunt Are you sure that this line fails? https://github.com/brianmhunt/knockout-fast-foreach/blob/master/index.js#L236

There is a quite similar one in the code: https://github.com/brianmhunt/knockout-fast-foreach/blob/master/index.js#L176 I guess there is at least one test which coverts that too, doesn't that fail too?

[2015-07-15 11:35] brianmhunt opened #24 "Add `$isFirst`, `$isLast` and `$atIndex`"
These can theoretically all be O(1).

[2015-07-15 11:35] brianmhunt commented on #1
Great thought, @cervengoc – #24

[2015-07-15 21:44] cervengoc commented on #24
What exactly would $atIndex mean?

[2015-07-15 21:49] cervengoc commented on #1
I was thinking a bit more about this topic. What exactly is expensive about updating observables? I mean I don't think that O(n) should matter. There is no rerendering, only if a developer binds $index in some fancy way. The most expensive seems to be the retrieval of the context, but that can be worked around by holding all $index observables in an array similar to lastNodesList, and put only a r

[2015-07-15 22:46] brianmhunt commented on #24
@cervengoc A truthy/falsy test e.g. `$atIndex(4)` returns true if the item is at index 4. I had it in my mind that this could be O(1), but I'm not entirely convinced I'm right. :grin:

[2015-07-15 22:54] cervengoc commented on #24
Well I don't know. At first glance it seems to me that any solution which depends on individual index values other than first or last leads to unavoidable index maintenance in one way or another. And on the other hand, personally I don't like the $atIndex function, I think it's not usable too well and a bit counter-intuitive (one would expect it to be an observable like all others). But that's rea

[2015-07-15 23:28] brianmhunt commented on #24
@cervengoc Yeah, I'm with you. I think it'll just be $isFirst and $isLast

[2015-07-16 12:11] brianmhunt commented on #23
@cervengoc In the latter case (`changeQueue`) it's an array, but in the prior (`allChildNodes`) it's a [NodeList](https://developer.mozilla.org/en/docs/Web/API/NodeList) instance. The extensive differences between the NodeList and an Array are detailed there.

Perhaps `Array.prototype.push.apply(allChildNodes, childNodes)` might work. Haven't tested it yet, but it feels like it might work.

[2015-07-16 12:15] brianmhunt commented on #23
It looks like `Array.prototype.push.apply` will not work because the `NodeList` has an immutable `length` property in some browsers e.g. Chrome.

Another alternative is to covert the `childNodes` to an array before insertion with `Array.prototype.slice.call(childNodes)`.

That said, copying from a `NodeList` to an `Array` then `push` onto the list may be slower than a single iteration through a `f

[2015-07-16 12:19] cervengoc commented on #23
But I initialize `allChildNodes` with an empty array literal. Does it turn into a NodeList somewhere implicitly, or do I miss something very basic?

[2015-07-16 12:22] cervengoc commented on #23
Wouldn't a simple `for` loop and single calls to `push` solve the problem? I mean instead of the `apply` technique.

[2015-07-16 12:38] #23 closed

[2015-07-16 12:41] cervengoc commented on #23
Oh I see now, the problem was with `childNodes`, not with `allChildNodes`. In your comment you referred to the latter, that's why I was surprised. Still, maybe it could be a bit more performant if you iterated through `childNodes` and called ˙allChildNodes.push˙ one-by-one.

[2015-07-16 12:41] brianmhunt commented on #23
@cervengoc I also saw that `allChildNodes` was an empty array; it seems it's the argument: The error PhantomJS spits out is:

[code]

A `for` loop is significantly slower than `.push.apply`, the reason apparently being that `push.apply` will pre-reserve the space for the insertion.

I've pushed a fix for this with the `Array::slice` method, but am always open to better alternatives. :)

[2015-07-16 12:41] brianmhunt commented on #23
When jsPerf is back up maybe we can put a test up to see which performs better. :)

[2015-07-16 12:43] cervengoc commented on #23
Ok, I undertand now, thank you for the explanation. I believe you, no need for jsPerf :)
Would you please reflect to my notes about the $index problem on the other thread?

[2015-07-16 12:53] brianmhunt commented on #1
Thanks @cervengoc

I am not averse to an O(n) implementation of `$index`, and would accept a PR for it, provided there is an option to disable it (for folks seriously concerned about performance on low powered devices).

One option that could significantly improve performance is to debounce the index recalculation.

[2015-07-16 13:30] cervengoc commented on #1
The best way would be to keep it silent by detecting if there is any subscription to it. I will have a look at it in the near future.

[2015-07-16 14:02] brianmhunt commented on #1
Thanks @cervengoc

Having previously given it a bit of thought, I believe a "pull" model where dependencies are silent until subscribed to may be more complex than "pushing" the index updates out on changes. That said I'm open! :grin:

[2015-07-16 16:39] cervengoc opened #25 "Rendering error when binding the same data to multiple parts of the document"
See this fiddle: http://jsfiddle.net/48hrb9cj/5/

I implemented a method called `refill` for observable arrays. This method clears the array and pushes all the given elements into it while keeping the array silent (valueWillMutate/valueHasMutated).

Consider the following circumstances:
1. I have more than one place where I bind the same observable array (3 in the example)
2. On a button click, I

[2015-07-16 16:47] brianmhunt commented on #25
@cervengoc My first thought is that that mucking with the array change subscriptions will cause the `arrayChange` events to not fire correctly.

What happens if you clear the array and push the elements without keeping the array silent?

[2015-07-16 17:05] cervengoc commented on #25
Wooh I think I've found the issue, and it came with my code.
It looks like ko is sending the same arrayChange items to every subscriber, so when I manipulate it to create a batch addition, then I manipulate the same instance at every binding.
I'm gonna fix it soon, and I'll try to put together a test for this use case, at most tomorrow.

[2015-07-16 22:50] cervengoc opened #27 "Possible further improvements on batch addition"
While I was debugging, I've noticed that in many cases the batch addition works very well, but there are a few use cases when it's not doing the job right.

The problem shows up when completely changing the array contents. At such type of actions ko sends the change notifications in an order for example like this: deleted 0, added 0, deleted 1, added 1, etc. So this way the current implementation

[2015-08-13 19:35] AdamWillden commented on #24
I have just come across a need for `isLast` but also an `isNotLast`. Is it worth adding:
- isNotFirst
- isNotLast
- isNotFirstOrLast (a little long and I don't have a need but why not?)

They should all still be O(1) ...or not?

[2015-08-13 19:41] brianmhunt commented on #24
@AdamWillden They should all be O(1); the `isNotLast` & `isNotFirst` are IMHO expressed better as `!$isLast` and `!$isFirst` respectively. I.e. there should be no need for property values for these as they can be computed on the fly. At least, that's my thinking. :smile: What do you think?

[2015-08-14 00:32] IanYates commented on #24
Possibly coming from ignorance, but are `$isLast` and `$isFirst` observables or values?  If they're observables then `!$isLast` wouldn't work but `!$isLast()` would.  I see this as being a cousin of KO including both `if` and `ifnot` bindings.  Is there any drawback to having to evaluate `!isLast()`

[2015-08-14 11:43] brianmhunt commented on #24
Thanks @IanYates – Yes, `!isLast()` is the right syntax. :) It should be an observable (though may in the implementation end up being an opaque `defineProperty`).

`!isLast()` ends up being an "implied computed', just as `isNotLast` would likely be– though with `isNotLast` there's an extra layer.

I'm not totally averse to adding `isNotLast/First`, but I don't want to clutter up the API with thing

[2015-08-14 12:10] AdamWillden commented on #24
No problem @brianmhunt. Just floating the idea but what you say makes sense. I think it'd be nicer as an opaque `defineProperty`

[2015-08-14 12:17] brianmhunt commented on #24
@AdamWillden Cool. :)

[2015-08-14 12:32] brianmhunt opened #28 "Option for `animationFrame` vs `ko.tasks.schedule`"
Some may prefer to use `animationFrame` (better handling of bulk events); others `ko.tasks.schedule` (more immediate updates).

[2015-08-14 12:42] brianmhunt opened #29 "Add `afterAnimation` callback"
After a transition on the elements added run the given callback.

For animation ending callback, see e.g. https://gist.github.com/O-Zone/7230245

Bootstrap has a nice polyfill for browsers that don't support `animationEnd`.

If there are multiple elements added per item e.g.

[code]

we will have to decide what strategy to use for when to call animationEnd –

1. The first animation completes?
2. A

[2015-08-22 22:29] brianmhunt commented on #25
@cervengoc – Are you up for putting a PR in for this?

[2015-08-23 06:51] cervengoc commented on #25
I've actually already done it. I even wondered why you didn't react. Probably I missed something, I'll check later today when I'm at computer. Please see my fork till then.

[2015-08-23 17:39] #25 closed

[2015-08-23 18:31] cervengoc commented on #27
@brianmhunt I've actually fine tuned the detection of a possible batch addition according to my ideas, and at first glance it looks reliable, but I have no idea how to put together a good test for it which would cover as many scenarios as possible.

The modified code looks like this:

[code]

According to my experiences, it improves quite much in many scenarios, especially when one clears and refi

[2015-08-23 18:38] brianmhunt commented on #27
@cervengoc lol, that'll take a bit of staring. Some good comments will undoubtedly make it clearer.  I can see a few tests that might illuminate the edge cases, but it'll take me a bit to wrap my head around this.

How much of an improvement is there to the performance?

[2015-08-23 20:41] cervengoc commented on #27
Sorry, the code is technically complex, but logically very simple:

There are two cases when an addition to index j should be treated as adjacent to the last addtion:
1. Previous modificiation is addition two, and has index j-1.
2. Previous modification is a deletion at index j AND the modification before the previous is an addition to index j-1. So this means that there is only a deletion in the

[2015-08-23 20:46] cervengoc commented on #27
It matters quite much in performance in a code like this:

[code]

In this case knockout sends the modifications this way: `deleted at 0, added 2 at 0, deleted at 1, added 4 at 1` etc. The improvement targets this special case. With the current implementation, the batch addition would not get applied.

I have a strong feeling that the same effect appears when using the `splice` method on the obser

[2015-09-02 12:36] cervengoc commented on #27
I've added the code and an additional test (probably wasn't needed, but just for the case). Also created a pull request here https://github.com/brianmhunt/knockout-fast-foreach/pull/30, seems everythings fine, tests pass. Performance difference was noticable within my project, but didn't have time to put together a jsPerf or so for it.

[2015-09-02 20:10] brianmhunt commented on #27
_thinking_

[2015-09-22 18:26] #1 closed

[2015-09-22 18:29] brianmhunt commented on #28
This is already builtin, Brian.

[code]

[2015-09-22 18:29] #28 closed

[2015-09-23 21:22] 4ver commented on #1
Is `$index()` supposed to be returning `undefined` when called in the template?

Here's an edited version of your jsbin in the README.md: http://jsbin.com/tuzuwepuya/edit?html,js,output

[2015-09-23 23:58] brianmhunt commented on #1
Thanks @4ver – good catch. The problem occurs when the last node of a template is a text node, which does not have `$context`.  Not strictly a problem with `$index`, but obviously that's where it'll exhibit. Fixing now & will report back.  Cheers.

[2015-09-24 00:00] 4ver commented on #1
Great! Thanks @brianmhunt

[2015-09-24 00:33] brianmhunt commented on #1
@4ver fixed in 0.5.2 :tada:

Thanks so much for taking the time to report the issue!

[2015-09-27 22:47] brianmhunt commented on #21
Fixed (I believe) as of v0.5.4? :)

[2015-09-27 22:47] brianmhunt commented on #29
WONTFIX – this should be a custom binding, e.g. `animationEnd`

[2015-09-27 22:48] #29 closed

[2015-09-28 12:08] cervengoc commented on #27
This can be closed now with #30

[2015-09-28 12:08] #27 closed

[2015-09-28 12:10] cervengoc commented on #21
You've added `afterAdd` and `beforeRemove`. Not sure if this is compatible. Shouldn't `afterAdd` be called `afterRender`?

I think @nmehlei ment compatibility like one should be able to just replace all `foreach` to `fastForEach`. But for that to work, parameter names should be exactly the same.

[2015-09-28 12:20] 4ver commented on #21
What's being passed to the two callbacks is different so they're not compatible- `afterAdd` returns the item added to the array whereas `afterRender` returns the rendered dom elements.

[2015-09-28 13:21] brianmhunt commented on #21
Yeah I noticed that the callbacks are not compatible – I'm not clear on what they should do.  Mulling it now. :)

[2015-09-29 10:20] brianmhunt commented on #21
Sorry folks – I've dropped the ball on `afterRender` and `afterAdd`, and I've a couple things to do before I get back to it – I'd welcome a PR, but will hope to get it fixed up ASAP.

Thanks for the feedback and patience!

Cheers

[2015-11-16 17:06] cervengoc opened #31 "Error when an external component changes nodes order (for example JQuery UI Sortable)"
Because of the way the last node references are maintained, when an external component changes node order it will fail drastically due to the loop in delete function.

Proposed fix is to maintain the first nodes as well (which wouldn't be too much overhead) and rewrite the delete function core to use it instead of pure indexes.

Of curse the rendered items and the bound array will still stay out o

[2015-11-16 19:24] brianmhunt commented on #31
Thanks @cervengoc ... When I made this plugin, I called this "DOM state integrity", and had considered exactly this problem.

At first I erred on the side of memory performance for very large arrays, which is slightly advantaged with the current implementation, but on reflection (and your commit) I think maintaining stateful integrity is the preferable route – particularly since it lets one change

[2015-11-16 21:34] cervengoc commented on #31
While I was walking home today I was thinking about it, and while this fix can probably be still a good thing, I'm about to come to the conclusion that handling jQuery UI's sortable and such external plugins should be completely out of scope, and handled outside. I will try to experiment with it and report back.

My main reason is that it's okay not to crash at DOM reorder, but still, it's not a g

[2015-11-17 14:44] cervengoc commented on #31
I've added a new commit please check that out.

[2015-11-17 15:40] brianmhunt commented on #31
Thanks @cervengoc – While in some ways there's a purity to having knockout (or `knockout-transformations`, etc.) handle the sorting, I don't like it crashing for any reason. :)

I can't see a diff to the new commit; would you mind opening a PR so I can track changes?  Cheers

[2015-11-17 21:48] cervengoc opened #33 "Implement the "moved" array change type"
I opened this issue to start a discussion about a possible implementation of the scenario when one or more items got moved in the unerlying array.

In the array change objects there is a corresponding "moved" property which cross-references a "deleted" and an "added" event. The binding could possibly make use of it and instead of deleting and recreating the item, it could move the related DOM node

[2015-11-18 01:22] brianmhunt commented on #33
Thanks @cervengoc

There is no "moved" property as far as I can see in [observableArray.changeTracking.js](https://github.com/knockout/knockout/blob/master/src/subscribables/observableArray.changeTracking.js).  Where would a "moved" flag come from?

One would have to reconstruct "moves" by keeping track of items deleted that are succeeded by an add.

I'm mulling it. :)

[2015-11-18 14:33] cervengoc commented on #33
@brianmhunt Sorry for not being explicit enough. You are right, there is no explicit "moved" flag, but knockout gives information about a move in an "added/removed" change-pair. Each has a "moved" property, pointing to each other's index. This way we can easily mimic the "moved" flag by simply finding these pairs and form a new "moved" change item with "sourceIndex" and "targetIndex" properties fo

[2015-11-18 14:45] brianmhunt commented on #33
Thanks @cervengoc – Oh yes, right, I see what you mean now. Sorry for being so slow. :)

My initial thinking is that because we are batching our processing we may have several equivalents to moves, that may involve actual moves (i.e. resorting) and "fake" moves being actual removals followed by adds before the list is updated.

In this situation, the _correct_ solution (whether practicable, or not

[2015-11-18 15:28] cervengoc commented on #33
I'm thinking about something like this, based on your ideas:

On each queue flush:
1. When deleting, put the deleted data item and its nodes into a temporary set.
2. When processing additions, check the added item in the temporary store, and if we find it, reuse its nodes instead of rebinding it to new ones.
3. After the queue flushed, clear the remaining temporary set by removing the nodes.

It w

[2015-11-18 21:49] cervengoc commented on #33
@brianmhunt Actually I had a few hours today and I prepared the first version of the implementation based on my idea. The simplified algorithm looks like this.

Preface. Only support move if bound array items are objects or functions, ie. not simple types like string, number or boolean. Also, make it possible to enable/disable this behaviour.
1. On deleting, delay the node deletion for the removed

[2015-11-18 22:05] brianmhunt commented on #33
Thanks @cervengoc ;  at first look I think it's the right idea.

One point (which you probably thought of):  If a node is, in the same change-set, marked `added`, `deleted`, `added`, `deleted`, it should end up `deleted`.  We just need a unit test for this (if there isn't one already), which will check that `hasMoved` is false for a node whose last change was `deleted`.

For a property, the arguab

[2015-11-18 22:11] brianmhunt commented on #33
p.s.

:+1: ;)

[2015-11-18 22:45] cervengoc commented on #33
@brianmhunt I don't think that `added, deleted, added, deleted` scenario is even possible with current ko array change notifications within one change set for the exact same node set. Even if I use `valueWillMutate/valueHasMutated` and do this mess within them, `ko` will figure out the actual change. Or am I wrong?

While I was planning the test cases I realized that we also should handle properly

[2015-11-19 00:24] cervengoc commented on #33
Just to end my day in a good fashion, here is a first performance test of the implementation. The test created a not-too complex bound DOM structure (with 1 DIV and 10 children for each item). The arraz contains 1000 items with a random property, and the sort of this array was measured in Chrome.

![perf_test](https://cloud.githubusercontent.com/assets/6099330/11258739/2b7a3184-8e5c-11e5-8d00-949e

[2015-11-19 00:48] IanYates commented on #33
Interesting discussion.  I've just been lurking and reading the updates - looking forward to trying some of this stuff out soon :)

[2015-11-19 02:22] brianmhunt commented on #33
Wicked.

[2015-11-19 02:24] brianmhunt commented on #33
Wicked.  Great performance buff.

@cervengoc – you're right that the add/del/add/del scenario will not happen in one change-set.  However it can happen when multiple changesets are queued and processed at once (which could be regular).

[2015-11-19 08:28] cervengoc commented on #33
@brianmhunt Yes, but currently for the first round I planned to stay in one changeset scope. But as I'm thinking I don't see it very difficult to extend. My very very first idea needed the changeset scope limitation, but this doesn't. I'll see. You can expect a PR with this implementation and some new tests for it in the next days.

[2015-11-19 13:15] cervengoc commented on #33
@brianmhunt I've committed my results, pleas check it out. Also, I'm still a beginner with GitHub, I have no idea how I could separate these commits to a new PR. Now it looks like it appends it to the previous PR about the "jQuery sortable" issue fix.

[2015-11-19 21:59] brianmhunt commented on #33
lol, yeah, it can be a pain that way.  You want to create a new branch for a new PR. --- some hints: https://help.github.com/articles/creating-a-pull-request/  –– basically for a new PR you need a new git branch.

Will look at code soon, I hope!

[2015-12-10 10:12] cervengoc commented on #33
@brianmhunt  Any news? Will you have time to check this out in the near future?

[2015-12-10 10:34] cervengoc commented on #21
Some notes for future development.
- Knockout exposes two events: `beforeMove`/`afterMove`. It will need some thinking how we could add support for these. I made a move implementation which is still in a PR state, but that implementation detects moves only when data gets reinserted, so I see now way to have something like `beforeMove`. However, `afterMove` could be called when a move is detected a

[2015-12-10 12:27] brianmhunt commented on #21
Thanks for the comments @cervengoc –

I am of the mindset that an `afterAddAll` would be misleading in the sense that because it's all processed in an asynchronous batch one might come under the misunderstanding that `...All` refers to everything that's added – but the reality is that it's nondeterministic.  It might be clearer if they were named `afterAddBatch`.  Is this a real concern?

The sing

[2015-12-10 12:32] brianmhunt commented on #33
Thanks for the ping, @cervengoc !  Sorry I missed this. Let me have a look at #34

[2015-12-11 13:02] krnlde opened #35 "Asynchronous, but still janking on large (>2k) lists"
As mentioned here knockout/knockout/issues/1954 your fastForEach implementation has recognizable improvements over the original ko-foreach. But still I experience big janks of 1-2 sec when iterating over a list with 5k entries.

Mind the chrome timeline capture here:
![image](https://cloud.githubusercontent.com/assets/1087002/11744317/94cde36e-a00f-11e5-888f-0344acb2c705.png)

The biggest part of

[2015-12-11 14:08] brianmhunt commented on #35
Interesting, thanks @krnide.  I'd really like to fix that – and it's precisely the kind of scenario I'd like FFE to be comfortable with.

Can you give any more info on what's happening in the recalculating part?  Or perhaps share a jsFiddle/CodePen/etc?

[2015-12-11 14:09] brianmhunt commented on #35
Incidentally, if you're using a `<li>` tag does `li {display:block; }` help?  Per http://stackoverflow.com/questions/19796057

[2015-12-11 14:11] brianmhunt commented on #35
Incidentally, at one point I was adding/removing 100,000 items from lists, without much janking.  I wonder if there's been a regression.

[2015-12-11 14:12] krnlde commented on #35
It is exactly your example: http://output.jsbin.com/dakihezega/2
- Open the site in Chrom[e|ium]
- Open its dev tools
- navigate to "Timeline"
- Hit Record
- check "use fastForEach"
- Enter 5000 in the text box
- Hit add items
- Wait for ~5 seconds
- Stop recording
- Analyze

~~Regarding your hint with the `display: block`: I would pretty much like to use the fastForEach in SVG, which has no `disp

[2015-12-11 14:15] krnlde commented on #35
btw Firefox behaves exactly the same. Same jank time.

[2015-12-11 14:33] brianmhunt commented on #35
Oh yes, I see.  Thanks for clarifying. :)

So the good news is that the time is linear i.e. inserting 500 items is 150ms, 5000 items is 1500ms.  The problem, then, is not the insertion of items but the rendering of off-screen items (whose rendering needn't be immediate).

I'm mulling solutions, along the lines of: http://stackoverflow.com/a/12613687/19212  – basically delaying the rendering of ite

[2015-12-11 14:37] krnlde commented on #35
The idea of deferring the actual draw is exactly what I need. But how would you tell the browser not to render the node? Deferring the `Node.appendChild()`? My guess is, if you defer node insertions to a timeframe of ~25ms each, it would kill the jank entirely - and as a result would build up the screen part by part. This, however, _could_ lead to unnecessary repaints of surrounding (depending) ob

[2015-12-11 14:46] brianmhunt commented on #35
Hmm.  A simpler option might be to batch childNodes by chunks of e.g. 50.

In that case we're adding an O(n) splicing operation to the node list, but the splicing is probably way less overhead than the also-linear-time DOM node insertion.

[2015-12-11 14:47] krnlde commented on #35
:+1:  SGTM

[2015-12-11 14:49] brianmhunt commented on #35
Thanks for reporting this @krnlde – It's an interesting use case.

I'll mull for a bit on the best way to do this.  @cervengoc Do you have any thoughts on this?

[2015-12-11 14:51] krnlde commented on #35
My only objection: Rather than putting the chunks in a definite frame (like you said 50) I would listen for the heartbeat of the browser. `var start = Date.now()` before the operation and then lookup `if (Date.now() - start < 25) deferFollowingChunksToNextLoop()` in every iteration.
Browsers can profit from faster CPUs, while slower ones still don't jank.

[2015-12-11 14:53] brianmhunt commented on #35
@krnlde I agree.

[2015-12-11 15:27] cervengoc commented on #35
@brianmhunt I don't completely understand the use case and the problem on first read, and unfortunately I currently don't have time to get deeper into it.

One note: Chunking up the batch insertions shouldn't be so hard to implement. But I think for the sake of simplicity I would stay with a built-in constant chunk size instead of measuring the timing. The reason is that the code part which batche

[2015-12-11 15:32] brianmhunt commented on #35
Thanks @cervengoc – appreciate the insight. :)

[2015-12-11 15:34] krnlde commented on #35
The simplicity argument is signed. But what if you have a costly DOM insertion which itself needs 300ms? Then you would have 300x300ms of blocking iterations. In case of the time measurement the browser would insert one node per loop and, yes, still jank but not for a solid 90 seconds :-P

Don't get me wrong, I'm exaggerating the consequences of course. But the time measurement is just e few chara

[2015-12-11 15:38] cervengoc commented on #35
The cost of DOM insertion can widely vary, even data item by data item based on data structure, bindings, etc. It's really hard to measure it I think.

In my personal opinion it should be very rare that someone has a template where insertion costs 300ms. Actually I wouldn't add the complexity to support it dynamically. If one has such a DOM structure, then he could set an option for chunk size exp

[2015-12-11 15:41] krnlde commented on #35
Not complicated at all, it's that easy:

[code]

(pseudocode)

[2015-12-11 15:43] cervengoc commented on #35
Okay, but with the batch insertion the inserted node is actually a documentFragment with several hundreds of list items. It's possible that I don't see something trivial though, but it seems not trivial for me to implement it.

If we didn't have the documentFragment utilization it would be more simple, but that optimization is key in much more often scenarios IMHO.

[2015-12-11 15:44] brianmhunt commented on #35
@krnlde It's not quite that simple, as @cervengoc points out.

I think it's doable, but it'll take some rather cerebral thinking. :)

[2015-12-11 15:45] krnlde commented on #35
Touché. For the ko world it might be true. That's why I'm requesting help here :)

Thank you guys for your time and your help so far.

[2015-12-11 15:46] cervengoc commented on #35
By the way @brianmhunt how can it be that even when using documentFragment the browser still janks? Isn't inserting a documentFragment kind of an atomic thing?

[2015-12-11 15:49] brianmhunt commented on #35
@cervengoc It totally is atomic, but as you can see from the "recalculating style" in the timeline capture @krnlde posted above, it can be a very long atomic thing. :)

[2015-12-11 15:54] cervengoc commented on #35
Still I think the best way to give the ability to set a chunk size with an option. I think it' rare that a data collection is so heterogenous that one item takes 5ms and another takes 100.

The default could be to not use any chunking for keeping the performance, and developers could pass a desired value based on their knowledge about their data structure.

What do you think?

[2015-12-11 15:58] krnlde commented on #35
lol. Which consequently can't be deferred to multiple event-loops. Also WebWorkers won't work here, because they [don't have access to the DOM](https://developer.mozilla.org/en-US/docs/Web/API/Web_Workers_API/Using_web_workers) ~~afaik~~.

[2015-12-11 16:04] krnlde commented on #35
I can definitely commit to that.

[2015-12-11 16:07] cervengoc commented on #35
Okay, so I'll start to think about it in the background but due to time reasons don't expect a solution thi year, at least not from me :)

[2015-12-11 16:08] krnlde commented on #35
No probs. Contributions are always welcome, regardless what time :) Thank you!

[2015-12-15 13:17] krnlde commented on #35
In the meantime, maybe I can have a look at that stuff. Can you provide some details how you would solve that around [the whole insertion](../blob/master/dist/knockout-fast-foreach.js#L309)? Sounds like [Promises](https://developer.mozilla.org/en/docs/Web/JavaScript/Reference/Global_Objects/Promise) are a good bet here. After a short look it appears to me that the only function depending on the no

[2015-12-15 15:50] cervengoc commented on #35
@krnlde Thank you for your interest and efforts. However, before looking into this I would really like to see #34 merged, because I've made major changes in internal logic which surely affects a proposed implementation of this as well. @brianmhunt will probably merge it soon :)

[2015-12-15 16:12] krnlde commented on #35
I stay tuned and subscribe to that issue :)

[2015-12-17 02:25] #31 closed

[2015-12-17 02:25] #33 closed

[2015-12-17 07:35] cervengoc commented on #21
@brianmhunt What do you think about the `beforeMove` problem?

[2015-12-17 12:24] brianmhunt commented on #21
I think it's tricky ;)

[2015-12-23 11:28] krnlde commented on #35
This sounds awfully familiar: https://github.com/knockout/knockout/issues/1965

[2015-12-23 13:13] vamp commented on #35
@krnlde, do not use large lists (the better solution would be - [clusterize.js](https://github.com/NeXTs/Clusterize.js) or [clusterize binding for knockout](https://cloudup.com/cBsdZgzd9iB))

[2015-12-23 13:48] krnlde commented on #35
Hey @vamp! Thank you for your answer, but why shouldn't I use large lists and let _"the"_ library decide how to handle it. As the title suggests, a chunked, asynchronous approach could help.
Also clusterize is no solution when drawing a lot of dots in one sivible SVG.

[2015-12-23 13:57] brianmhunt opened #36 "Investigate virtual-dom patch"
See https://github.com/Matt-Esch/virtual-dom

[2015-12-23 14:40] brianmhunt opened #37 "removeChild is super-slow"
For no reason apparent to me, `removeNode` is painfully slow in the following test: [Performance Comparison for React, Angular and Knockout](https://brianmhunt.github.io/chrisharrington-performance.html).

Look at this:

![screen shot 2015-12-23 at 9 36 20 am](https://cloud.githubusercontent.com/assets/135528/11978325/b838ae68-a958-11e5-814e-d531b9ffb3a0.png)

And here, you can see that `removeChi

[2015-12-23 14:43] brianmhunt commented on #37
... I wonder if we could use `replaceChild` instead of `removeChild`

[2015-12-23 17:15] brianmhunt commented on #37
We might consider running `cleanNode` on every node, then `removeChild` on every node.

[2015-12-24 03:11] brianmhunt commented on #37
For the record, I tried (around line 357 of `index.js`):

[code]

It appears to be marginally faster (having cut out some function calls), but remains a third of the recalculation.  I would expect `removeNode` to generally be near-instantaneous, not an average of 13ms with each call.  Strange.

[2015-12-24 05:48] vamp commented on #35
@krnlde, sample for you: https://jsfiddle.net/312j519d/

[2015-12-24 10:59] krnlde commented on #35
Draw these as dots in an SVG, without scrolling  and we have a deal...

[2015-12-24 18:15] brianmhunt commented on #37
Well.  That's unexpected: [Rendering faster by hiding DOM elements instead of removing them](http://jimkang.com/articles/browser-disapproval-of-frequent-dom-removal/)  (Or at least it would've been until I started looking into this problem)

I wonder if that's an effective strategy for us.  We could also make the removal lazy (and power-friendly with `animationFrame`).

[2015-12-28 10:50] krnlde commented on #37
@brianmhunt in your implementation, now that you are iterating via a decrement, be careful with array holes.

[2015-12-28 12:28] brianmhunt commented on #37
Thanks @krnlde – We construct the `nodes` (being nodes corresponding to an item in the given list at [getNodesForIndex](https://github.com/brianmhunt/knockout-fast-foreach/blob/master/index.js#L263)), so my expectation is that there should never be holes in that array.  But I might be missing something. :)

Do you perceive a risk here based on a use case?  If so, do you have any suggestions on how

[2015-12-28 13:00] krnlde commented on #37
The best way to deal with holes is utilizing `Object.keys()` afaik, but this is only supported [since IE 9](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Object/keys#Browser_compatibility).

I'm not too much into the code to know whether there _will_ be holes at any time.

**Edit:** as [Axel quotes](http://www.2ality.com/2013/07/array-iteration-holes.html) you co

[2016-01-05 15:48] cervengoc commented on #36
To be honest I personally don't like this too much at first glance :)

[2016-01-05 15:50] krnlde commented on #35
Since #34 (and #33 respectively) are closed, can we get back to this issue @brianmhunt ? I linked a knockout issue a few days back which describes a similar behaviour. Any insights?

[2016-01-05 15:55] cervengoc commented on #37
Hiding the nodes and then removing them on next queue flush may improve the situation. But I don't know, can't get into it right now more deeply but as I'm thinking it should be faster to remove hidden elements because no need to reflow.

On the other hand I don't know how other libraries can be faster, aren't they using the same native `removeChild` method?

[2016-01-05 16:05] brianmhunt commented on #35
I think if we were to tackle this, the best option might be to mimic clusterize – at least the part that renders and binds the elements only when they are in the viewport.

That would address the rendering-side, though it means that the item-bindings will be lazy. This breaks the assumption that everything in the list will have bindings applied immediately, but for what'll be a massive performance

[2016-01-05 16:07] brianmhunt commented on #37
@cervengoc I rooted through React and Angular and didn't see any references to `removeChild`, so I'm guessing they must be doing something different.  But it's just a guess. :smile:

The only alternative to `removeChild` would be to muck with `innerHTML` every time, which we cannot really do without re-applying the bindings to everything not removed, which would be slow for cases where there's onl

[2016-01-05 18:26] krnlde commented on #35
Clusterize, at least to me, is only a workaround for a yet to be solved problem. It doesn't nip things in the bud. We rather need a possibility to defer the browser painting over a few loops, so the browser never janks. That would resolve every problem - btw. including that one clusterize tackles. The only solution we need to find is to tell the browser to just draw some nodes and to join the asyn

[2016-01-05 18:46] krnlde commented on #37
Also take into account: having a loose DomNode which is not appended elsewhere that could catch all the removed DomNodes for a while by `trash.appendChild(NodeToBeRemoved)`ing them. That way only a repaint is necessary, no heavy DOM cleanup. You could then bring out the trash later.

Btw:
Angular actually uses `parent.removeChild(element);`. I tested this in the TodoMVC app (Angular 1.4.3): http:/

[2016-01-05 19:19] brianmhunt commented on #37
Thanks @krnlde – Great finds re. the `removeChild` ... my searching skills leave something to be desired! :wink:

I think it's definitely worth checking out the performance of a batch-move (to a DOM node with `display: none`) + lazy-remove.

[2016-01-05 19:21] brianmhunt commented on #35
Thanks @krnlde – Solid input.

We have access to a couple async facilities, namely `Promise`, the `ko.task` microscheduler, and the `window.animateFrame` (which has some side benefits).  We will have to experiment to see what works best.

[2016-01-06 09:56] krnlde commented on #35
I need to get deeper into the knockout and FFE code before I can provide some experimental code. :-/ Right now the mechanics of knockout is a little hard to grasp, especially all the bindingHandler parameters. Too confusing.

[2016-01-06 12:51] cervengoc commented on #35
Hello guys and first of all Happy new year :)

I had some time to work on an experimental implementation. Please check it out at my fork: https://github.com/cervengoc/knockout-fast-foreach

I'm chunking the node insertions at the "last" moment to keep the internal state flow untouched. With this delayed insertion I also had to add a check when removing nodes to ensure that the node is attached to

[2016-01-06 15:06] brianmhunt commented on #35
Thanks @krnlde – yes, the mechanics are not clear.  Hopefully it's something we'll improve in the not-too-distant future.

@cervengoc Your approach is what I was thinking, too.

The test you have is good.  The two other scenarios we probably ought to test for are:
1. Adding has started, and new items are added before the all existing items are inserted into the DOM; and
2. Adding has started, but

[2016-01-06 15:20] cervengoc commented on #35
Yes, I was thinking about your second test idea, but need some time to figure out how to cover these in the testing environment.

In the meantime @krnlde could you please test my version? Now it has a chunk size of 100 built in, in the final version it will be configurable.

[2016-01-06 15:53] krnlde commented on #35
At a first glance your implementation looks exactly like what I need. I'll drop it in now and test with my SVG what happens.

[2016-01-06 17:16] krnlde commented on #35
Superfast! Just for the record: We are now drawing 12k dots in an SVG map **without even a single jank** in Firefox and Chrome.

In IE11 and Edge you can watch the browser drawing, but at least you can scroll and the browser responds during that process (with a little jank).

![image](http://i.imgur.com/jctq49A.gif)
Wheeeee...

[2016-01-06 17:19] cervengoc commented on #35
I'm glad to here the news :) so now I'll continue the tests and hope
nothing has broken.

[2016-01-06 17:21] krnlde commented on #35
I've created a profile for Edge during the drawing of the dots, this is what it looks like:

![profile](https://cloud.githubusercontent.com/assets/1087002/12149043/f1d3a0ca-b4a1-11e5-93cc-36535024efc4.PNG)
(Sorry for the german labeling)

The anonymous function callback I focused is exactly [this line](https://github.com/cervengoc/knockout-fast-foreach/blob/master/index.js#L169):
`FastForEach.anim

[2016-01-07 07:16] cervengoc commented on #35
The `processQueue` method shouldn't be called so many times. Actually it should be called only once if you add the items all together (like using the `valueWillMutate` + `ko.utils.arrayPushAll` technique). Are you sure it's this anonymous method and not the other one which calls the rendering of the next chunk?

[2016-01-08 13:54] krnlde commented on #35
I'm sure the first anonymous function is `FastForEach.animateFrame.call(window, function () { self.processQueue(); });`. I'm not 100% sure about following functions, but I'll test that again as soon as I have my environment up and running again.

[2016-01-08 13:57] cervengoc commented on #35
Yes, the first should be that, and the subsequents should be the chunked
rendering.
I'll make the chunk size configurable later today, so you can test IE with
a smaller number if you wish.

[2016-01-08 14:02] krnlde commented on #35
The problem is, that IE seems to be hanging while all those chunks are processed, it doesn't draw anything in that time, not even CSS animations.

[2016-01-08 14:04] cervengoc commented on #35
Ok, then unfortunately my current knowledge is not enough even for any idea
about it. @brianmhunt do you have any thought about IE behaviour?

[2016-01-08 14:10] krnlde commented on #35
I'll test it again with more profiling insights and share the results with you guys.

[2016-01-08 14:10] cervengoc commented on #35
Ok, thank you for your efforts.

2016-01-08 15:10 GMT+01:00 Kai Dorschner notifications@github.com:

[2016-01-08 14:15] brianmhunt commented on #35
Hmm.  I wonder if it's an issue with how IE/Edge implements `requestAnimationFrame`.

What is the value of `ko.bindingHandlers.fastForEach.FastForEach.animateFrame`?

What happens when `ko.bindingHandlers.fastForEach.FastForEach.animateFrame = window.setTimeout(cb, 1000 / 60);`?

[2016-01-08 14:20] krnlde commented on #35
I hate IE so much. ;)

[2016-01-08 14:31] brianmhunt commented on #35
Yeah, if it works in Safari + Chrome + Firefox, then I'd be inclined to report the problem upstream. ... if there was an upstream to whom to report it. :)

[2016-01-08 14:34] cervengoc commented on #35
I think nowadays one can almost always afford such minor issues of IE. It's important to think about kind of a "price/performance" of a feature/fix/workaround. In one word, I wouldn't care about it too much if it works in other major browsers like this.

[2016-01-08 14:34] krnlde commented on #35
I'll have it tested in Safari as well. I think in an hour I am good to go.

[2016-01-08 16:24] krnlde commented on #35
![image](https://cloud.githubusercontent.com/assets/1087002/12202811/fcc4c1e0-b62b-11e5-8aa8-d962e85a340a.png)

I tested it again with around 2k dots. Right now I can only provide a Timeline from Chrome but here happens the same, the processQueue is called very often.

Here is a detail of a single rAF call:

![image](https://cloud.githubusercontent.com/assets/1087002/12202907/797cf522-b62c-11e5-99

[2016-01-08 16:31] brianmhunt commented on #35
Weird.  The rAF should be at-most 1/60th of a second.  The chain should look like this:

[code]

In other words, there should be one, and only one, top-level processQueue for each `arrayChange`
event.

Perhaps this is what is happening, but the presentation (for the rAF) is "up-ended" so the animateFrame appears to be the caller – when in reality it's the processQueue.  In other words, visually it

[2016-01-08 16:36] krnlde commented on #35
When I console log _inside_ processQueue it shows the log exactly as often as in the flame chart. oO

OK, but this could be the nature of my app. Since I have other things going on and I also have nested foreach's

[2016-01-08 16:49] krnlde commented on #35
Alright, just clearing things up: When I also put a `console.log` inside `FastForEach.prototype.insertAllAfterByChunks` I see exactly what should happen. As said the amount of processQueues is in because of my special setup. The pure dots are computed in exactly one processQueue with lots of insertAllAfterByChunks. It is just funny that I don't find that function in the flame chart. I only see the

[2016-01-08 16:52] krnlde commented on #35
Found it, is on the end of the `FastForEach.prototype.added` function:
![image](https://cloud.githubusercontent.com/assets/1087002/12203679/8d450460-b630-11e5-9caf-5f092b73c7c3.png)

[2016-01-08 17:21] krnlde commented on #35
A test with ~12k dots scales in the same manner in Chrome. No jank, just a little more time to draw the dots. We (I) should definitely reduce the chunk size, because it only draws 1-2 frames each sec.

Edge has bigger problems hovever. These frames I was mentioning earlier seem to block the browser entirely - for solid 5-6 secs on ~12k dots. :-/

![image](https://cloud.githubusercontent.com/assets

[2016-01-11 11:18] cervengoc commented on #35
Hi, I've updated my fork to allow configuring the chunk size. I've also fixed a critical issue as the DOM node chunks got inserted in reverse order.

However, I'm still not sure if we should allow the chunk size configuration at a per-binding level, or it's enough to test and find an optimal value for "everyone". I think that this option is too "technical" to include as a binding option, but will

[2016-01-11 11:38] krnlde commented on #35
The biggest concern would be a modification on the array while `insertAllAfterByChunks`. You sould lock the array for that time and apply the modification as soon as the insertion is done.

[2016-01-11 11:43] cervengoc commented on #35
Yes, something like that. Removes are not problem, but any insert on an index which has a pending DOM insertion could break it all at first glance.
The safest way would be to delay the `processQueue` call until the insertions complete. This could be easily implemented with an internal state flag. Then the `processQueue` would delay itself until it has a "free" frame. This way we could overcome eve

[2016-02-09 17:41] brianmhunt opened #38 "Nested fast-foreach"
Nested elements can lead to a:

[code]

[2016-02-09 22:05] cervengoc commented on #38
Hello @brianmhunt, could you please provide me some sample codes which reproduces the issue? I'll try to have a look.

[2016-02-14 03:13] brianmhunt commented on #38
Thanks @cervengoc – I'll try and put together a test case, then we can sort out the issue. :)

The gist is that (using ko.punches syntax)

[code]

will error when x has items that are disposed.  It seems that the node-removal logic of `y` continues even after it has been detached from the DOM.

It should be a simple fix, but obviously it'd be right to nail down a test case that covers the failure.

[2016-02-15 12:15] cervengoc commented on #38
@brianmhunt In my current fork last year I started to work on partitioned DOM insterts, probably you remember. Besides that code change, I've also added a little check where we remove nodes if the node is attached (ie. `parentNode` is not null). Could you please try to add that one line and try it like that too?

[2016-03-04 16:53] carlosagsmendes commented on #28
@brianmhunt can you further explain the difference? animationFrame is managed by the browser and my understanding is that it should be used to do UI updates. How does the ko.tasks.schedule work? Thanks in advance

[2016-03-04 17:03] carlosagsmendes commented on #28
Sorry, I've just found this on [KO documentation](http://knockoutjs.com/documentation/microtasks.html).

[2016-04-14 09:35] krnlde commented on #35
Hey guys! It's been a while we talked so I just wanted to bump this topic since all our precious work we've done gets lost if we do not merge it back to the master.

How can I help?

[2016-04-14 10:38] cervengoc commented on #35
@krnlde Unfortunately I'm completely drowning in my current work, and don't have time for it now. Possible in a few weeks it will get lighter.

As I wrote earlier, the delaying of `processQueue` would be a good solution I think to handle concurrent DOM inserts and array modifications.

Also, it would be needed to cover some cases with new tests, and I have a feeling that some of them will not be t

[2016-04-14 11:11] krnlde commented on #35
I could write some tests I guess. Concurrent modifications are indeed a problem. But that should be testable, too.

I feel not comfortable enough to edit the plugin  though, so unfortunately no library specific help for `processQueue` from my side :-/

[2016-04-14 11:30] cervengoc commented on #35
I can make that modification, the coding itself should not be a big deal, but I have no time to design and write tests for it. So if you can help with that, I would appreciate it. I will try to make these changes in the next days.

[2016-05-09 21:47] cervengoc commented on #35
@krnlde @brianmhunt Sorry for the huge delay, I finally had some time to implement the aforementioned synchronization between queue processing and DOM manipulations (insertions for now).You can find it in my fork's latest code.

The implementation is simply based on a flag which is set until chunked DOM insertions finish. If this flag is set, the `processQueue` method simply delays itself for the

[2016-05-10 15:37] krnlde commented on #35
Hey @cervengoc thank you for your implementation. Where should I post issues to this? Here or in your repo?

[2016-05-10 18:00] cervengoc commented on #35
I think we should move this topic there for clarity.

[2016-05-11 10:57] cervengoc commented on #35
@brianmhunt @krnlde Sorry guys, I messed up some things. I completely reverted the previous implementation and found another one, which you can find in my fork. I had to recreate the complete fork because I'm such a noob with git, I am suffering a lot with more complex tasks.

The problem with the previous implementation was that it partitioned only the DOM additions or large node sets. However, i

[2016-05-11 11:31] krnlde commented on #35
You were faster than me :) I'll hold back the bug report and test the new implementation. Thank you again!

[2016-05-13 08:23] cervengoc commented on #37
@brianmhunt Due to a desired super-optimization I started re-reading this thread too. What exactly do you mean by "lazy-remove"? I'll try to implement it if we get to a good idea.

[2016-05-13 08:25] cervengoc commented on #38
@brianmhunt Could you cooperate to prepare the failing test? I can get some time to deal with it then nowadays.

[2016-05-13 14:38] brianmhunt commented on #37
Thanks @cervengoc  Lazy-remove would be, at its most basic, a two-step process:
1. Set `display: none` in one animation cycle; to deals with the rendering
2. Remove the elements in another cycle; this deals with events/DOM structure, etc.

Theoretically this would break up the browser work into two separate loads.  One would need to experiment though.

Another option that may help is to remove all

[2016-05-19 08:37] cervengoc opened #39 "Access parentNode within a nested binding handler"
I noticed an issue which probably exists with the original `foreach` as well.

When I have a nested binding handler which would use `element.parentNode` for whatever reason, it will fail because when `fastForEach` applies bindings to the item nodes, the nodes are not yet attached to their future parent, so the `parentNode` will always be a technical `div`.

I was thinking a bit about possible work

[2016-05-19 08:42] cervengoc commented on #39
One way would be to extend the context with the future parent node, so it would be accessible for nested binding handlers. But need to think of nested `fastForEach` bindings too. But generally I don't like this idea too much because AFAIK the context doesn't hold any DOM nodes now, and it smells like violating its purpose.

[2016-05-20 16:21] krnlde commented on #35
@cervengoc unfortunately I can't create issues in your fork so this'll have to do: I created an isolated scenario with your new fastForEach implementation here: https://jsfiddle.net/krnlde/huhz0p9x/

Each block contains 3200 circles.

You can see in line 485 that I am timing the actual draw by starting the timer and stopping it the (quasi) next event loop.

Now open the console in Chrome. When you

[2016-05-20 21:07] cervengoc commented on #35
@krnlde Thanks for the feedback. I'm sorry I forgot to mention that the new implementation is an opt-in setting, which means that by default it doesn't use partitioning.

You have to set the `partition` option at binding, like

[code]

Also, note that measuring time can take some resources itself, so please at first step, test without it.

[2016-05-25 15:23] Hainesy opened #40 "Cannot update individual array items"
Previously, using the standard foreach binding, I was updating individual records in an observable array by using the following code:

[code]

However, switching to fastForEach and it doesn't update the UI. So I have attempted to notify the UI that the entire array has changed and even that doesn't seem to work:

[code]

Even this doesn't work:

[code]

The only thing that works is the below, but

[2016-05-25 17:11] cervengoc commented on #40
Could you please clarify what kind of "update" do you mean?

In general, each individual item has its own nodes with its bindings, which is encapsulated within a new childcontext. Those bindings should reflect changes made within the item. I mean there should not be need to remove and reinsert the item.

Anyway, I think the UI is not updating due to the move detection which was implemented in the

[2016-05-25 20:26] Hainesy commented on #40
The items in the observable array are not observables but native JavaScript objects. I have changed one of the items in the underlying array and am trying to rebind the entire array but no matter what I do I can't get it to update in the UI. What mechanism is it using to detect that the item is "the same"?

[2016-05-25 21:27] cervengoc commented on #40
I suggest using one of these techniques.
- Use observable properties.
- Wrap each item in an observable and use a with binding around them. Then
  if you set it to null and then reassign it, the UI should react. Later I
  can create a fiddle if you need to demonstrate this.

[2016-05-25 22:59] brianmhunt commented on #40
Would knockout-es5 help here?

[2016-05-26 07:25] Hainesy commented on #40
Both those options will require quite a lot of changes - is there another
option that I can hack in quickly for now?

On 25 May 2016 at 22:27, Zoltán Tamási notifications@github.com wrote:

[2016-05-26 08:25] Hainesy commented on #40
@brianmhunt I'm not sure how?

[2016-05-26 09:23] cervengoc commented on #40
You can override the `shouldDelayDeletion` function, which is behind the scenes in item move detection.

[code]

@brianmhunt I'm still thinking about wether it's reasonable to allow turn on or off the move detection. In my opinion this case is quite special use-case, generally in a good Knockout model design the move detection mustn't be a problem. What do you think?

[2016-05-26 10:37] cervengoc commented on #40
Sorry, the correct way to override that function is this.

[code]

Put this code before any bindings get applied.

[2016-05-26 14:26] brianmhunt commented on #40
Definitely agree re. move detection.

[2016-05-27 08:18] cervengoc commented on #40
@Hainesy did you manage to solve this? If yes, can this be closed?

[2016-05-31 06:39] Hainesy commented on #40
In the end I resolve my issue a different way by cloning and re-inserting the objects I wanted to change. Not very elegant, but I'd prefer not to override library methods as it makes it harder to up date. Personally I feel this is a bug or oversight in the library, but the performance benefits outweigh the inconvenience of having to account for this in my code.

[2016-06-09 11:16] krnlde commented on #35
This works really good! Thank you for this. Only issue right now is in a nested fastForEach the partition would run in parallel. For example if you have 10 rows and 20 cols and you iterate over them with fastForEach like so:

[code]

in the first iteration it'll draw 5 rows and 0 cols. In the second iteration it'll draw another 5 rows but now it'll draw 5 cols in each of the previously drawn rows,

[2016-06-17 08:24] krnlde commented on #35
Bump

[2016-06-17 08:31] krnlde commented on #38
Checking the sourcecode it looks like sometimes the `insertAfterNode.nextSibling` is `null`.

[code]

Couldn't we simply test for this?

[code]

[2016-06-18 19:04] cervengoc commented on #35
Sorry guys I'm having a holiday,  I'll be back next week.
2016. jún. 17. de. 11:24 ezt írta ("Kai Dorschner" <notifications@github.com

[2016-06-21 10:40] #40 closed

[2016-06-21 10:45] cervengoc commented on #35
@krnlde I'll try to enable Issues in my fork.

However, this nested behavior is IMO the expected. I think it's a very rare real-world need to nest two fast-foreach instances each having a defined partition size, because in any case which I can think of you have one "dimension" which is "heavy" and others not.

Also, in pure technical speaking it would add a big complexity to introduce some kind of

[2016-07-22 17:39] cervengoc opened #41 "Using fastForEach makes ko.applyBindings asynchronous"
I currently struggled a bit with this. I'm trying to do something like this.

[code]

Maybe this is acceptable, but quite tricky to work around in some situations, and I don't like the fact that the DOM is not ready right after `applyBindings`, and I think most developers might get confused if they meet such scenario. As far as I know, this kind of synchronous behavior is present using every other

[2016-07-22 18:10] brianmhunt commented on #41
Hey @cervengoc – I thought about this quite a bit.

I think the most future-proof option will be to have `applyBindings` return a promise, which I'm working on for [knockout/tko](knockout/tko).  So the solution would be simple and canonical ES6:

[code]

The stuttering is a different, but also important, problem.  I think the fix will be on a per-binding basis, or perhaps with "helper" bindings th

[2016-07-22 18:42] cervengoc commented on #41
Yeah I was also thinking about returning a promise, not bad at all, but perhaps it's not worth the architectural changes needed (I guess it's big work to implement some kind of notification per binding).

I personally think that it would be more convenient and simpler to stay with the synchronous behavior of `applyBindings`.

As far as stuttering goes, it can also be handled a covering backdrop an

[2016-07-22 20:14] cervengoc commented on #41
So what about changing the current version (which targets 3.4) so that it would handle initial rendering synchronously? It doesn't seem to be a huge code change. Actually I've tested it already.

I think it would be more straightforward for this time and this version, and we can still accommodate to future changes without too much work.

[2016-07-23 02:19] brianmhunt commented on #41
I'm ok with that :)

[2016-07-23 20:33] cervengoc commented on #39
Here is an example use case. Consider a `selectable` plugin which can be applied to a container like `ul`, and it will allow users to select child nodes by clicking, SHIFT clicking, CTRL clicking, etc.

[code]

[code]

Now in the `selected` binding handler I need to call the `Selectable`  plugin instance to select/deselect the item on observable change.

[code]

@brianmhunt  any thoughts? Is it a

[2016-07-24 03:42] brianmhunt commented on #39
Good question. 😄

[2016-07-24 10:18] cervengoc commented on #39
Important news, the original `foreach` binding does not have this issue, here I've tested it: https://jsfiddle.net/3dLnzktw/. You can see that console logs the correct parent div.

So it seems like the original `foreach` binding first appends the nodes and then it applies child bindings.

Besides that I actually need it currently, I also think that this it's a major difference and probably it woul

[2016-07-24 11:13] brianmhunt commented on #39
It's a performance benefit IIRC - operate outside the DOM then insert.

Should be a trivial fix, and suggest we do it.

You ok putting a PR?

[2016-07-24 13:06] cervengoc commented on #39
Yes I can next week sometime. But it would be interesting to test it if it matters and if it does, how much is the difference. In most cases I think the browser will not reflow until bindings have ended no matter when we bind, but maybe I'm completely wrong. I'll try to put together some performance tests.

[2016-07-24 15:52] brianmhunt commented on #39
I never did any empirical testing of the advantage, so I'm curious to see results of a test.

Since we are timing on `animationFrame` the reflows should batch and improve performance.

We could make it an option to bind to parent before rendering, but I don't feel that should be a public part of the API.

[2016-07-28 15:51] #41 closed

[2016-08-03 20:57] cervengoc commented on #39
@brianmhunt I was thinking quite a bit about this issue, as you can see in your mailbox probably :) (Actually sorry for spamming you with unsorted thoughts).

At the end I've found that in the current stage it's not worth dealing with this, because it would need too much code change, and probably it would have more drawbacks than benefits.

So what do you think about providing a _workaround_ and e

[2016-08-03 21:05] cervengoc commented on #35
Are here any news? I had to restructure my fork, but the implementation is still there in its own branch.

[2016-08-03 21:09] #19 closed

[2016-08-03 21:16] krnlde commented on #35
From my side everything is fine. I wrote the things that bothered me, but apart from that there's only the tests that need to be written. I was asking how to do it. Could you clarify?

[2016-08-03 21:27] cervengoc commented on #35
Ok. This is not easy to test in my opinion. One option would be to fake the `animateFrame` function of fastForEach so it would provide some kind of callback where we can check after each cycle if the partitioning really happens, eg. the appropriate number of child elements are there after each cycle.

What I did for the sake of quick check is duplicated all the tests with a non-zero partition size

[2016-10-13 08:05] Sisco21 opened #44 "Fastforeach and template"
Hello,

I'm unable to use fastForeach and templates. Could you help me?

Thanks

[2016-10-13 08:21] cervengoc commented on #44
Would you please describe your problem in more detail? Some example code, or an example on jsfiddle.net would be even better.

[2016-10-13 10:12] Sisco21 commented on #44
Thanks for your answer.

I've got this which is working

`<div class="daily-content--zoomzone" id="dailyContainer" data-bind="foreach:  planningData()">
                <div class="daily-content--ue context-menu-ue" data-bind="visible: isVisible()">
                    <div class="daily-content--ue--title" data-bind="text: ueIdentifier">
                    </div>
                    <div class="d

[2016-10-13 10:22] cervengoc commented on #44
When you write "foreach" in a `template` binding configuration, it actually doesn't refer to the `foreach` binding, but to a `template` binding parameter. As `template` binding doesn't have a `fastForEach` parameter, you'll get the error.

Instead of using the `template` binding with the foreach syntax, you can use the `fastForEach` binding with its template syntax, like this.

[code]

Be aware th

[2016-10-13 10:30] cervengoc opened #45 "Maybe templating shouldn't be supported"
Because `fastForEach` doesn't use the native `template` binding internally for rendering templates, it can lead to several issues like

- Won't get any fixes related to `template` binding.
- Can't use any feature of `template` binding, like engines, etc.
- If one overrides/customizes the `template` binding, he might expect that the `fastForEach` template syntax will make use of it, but counter-int

[2016-10-13 12:48] Sisco21 commented on #44
Dear cervengoc,

Thanks for your answser, Your right and that works great.

The code is 40% faster than before.

Thanks again and great job.

[2016-10-13 12:56] #44 closed

[2016-10-13 13:01] brianmhunt commented on #45
Yeah, I think for TKO-alpha/beta this would be wise.

[2016-10-13 13:10] brianmhunt commented on #39
I'm wary of exposing `$containerElement` since it might give people the feeling that they can muck with it, but fastForEach is pretty fragile since it use DOM node offsets to calculate positions ... so I have a concern that people will muck with the container element and end up posting support issues that are hard to track down. Or we could document it really well. :)

Just an idea, once could put

[2016-10-13 13:32] cervengoc commented on #45
I don't know the native `template`'s `foreach` option's implementation very well, but you should take that into account too, because that may interfere with `fastForEach` as well.

[2016-10-13 13:35] cervengoc commented on #39
The use case was about accessing the parent node, not the context of it. I don't think `component` could help with that. I'll think about it. Still the best would be to apply child bindings on attached children.

[2016-12-13 19:10] jlaustill commented on #45
I actually just got around to testing this today, and this is literally the only way I use foreach.  My entire site is a bunch of these

[code]

Except the ones that are components of course.  So as of today, this doesn't seem to work for me.  I would prefer this syntax stick around personally, I find it graceful, useful, and extremely easy to come back to after months of not seeing the code.

If

[2016-12-13 20:41] cervengoc commented on #45
@jlaustill I ment the `fastForEach` binding syntax which let's you pass a template name. I didn't mean to touch the `template` syntax with the `foreach` options, that's a different story.

However, if `fastForEach` gets into the knockout core and possibly replaces the original `foreach`, the `template` syntax you mentioned should be something to think about. But I think we could at least call `fas

[2017-01-06 15:42] brianmhunt opened #47 "Backport `as` from tko.binding.foreach"
This: https://github.com/knockout/tko.binding.foreach/commit/b3380c97c7c0ff453b700d1d39e9c03ffc3d62a4

@cervengoc – If you get a chance, please feel free to incorporate the changes from the referenced patch.

Cheers.

[2017-01-07 02:35] AllSeeingEye commented on #37
Here's a patch for the current [brianmhunt/knockout-fast-foreach](https://github.com/brianmhunt/knockout-fast-foreach) that does just that:

https://gist.github.com/AllSeeingEye/b25b338ebf76131ff5e128aa8c43505e

Updates are now made with the same speed as initial array deployment.
Please look at it - I'll create a pull request if you like it.

[2017-01-11 02:51] AllSeeingEye commented on #37
I've given it a try (though I admit my implementation was pretty naive), and it didn't bring any noticeable improvements. Hiding the nodes + deleting inside animateFrame + clustering fixes things.

[2017-04-22 16:23] mshoote opened #48 "What makes fastForEach Faster"
Hi, I was wondering what exactly makes fast for each faster than the normal for each.

I noticed in the .js you mention:
"Employing sound techniques to make a faster Knockout foreach binding."

I am not sure if these sound techniques make it faster and if so what are sound techniques?

I am wondering as I am doing a comparison of frameworks and was wondering what made this faster.

[2017-04-24 13:23] brianmhunt commented on #48
Good question. :)  There are a few things, including (and I may be forgetting things):

1. Updates are batched into [animationFrames](https://developer.mozilla.org/en-US/docs/Web/API/window/requestAnimationFrame)

2. It has a `noIndex` option that makes it `O(1)` in terms of computational complexity

3. DOM nodes are re-used for re-ordering/deletion/inserts within the same animation frame

4. It c

[2017-04-29 17:56] mshoote commented on #48
Thank you for the response! That helps a lot.

[2017-04-30 17:01] krnlde commented on #48
So this issue can be closed?

[2017-05-03 22:05] mshoote commented on #48
Yes this issue can be closed.

[2017-05-03 22:05] #48 closed

[2017-06-14 22:48] sacredMonster opened #49 "[Newbie] $index() and $parent undefined"
Hello,
I am using fastForEach to bind my array and when I try to access either the $index or $parent i get an undefined error.

Any help?
`
                        <div class="row-search-result" data-bind='css: { striped: ($index() % 2) }'>
                            <div class="search-content">
                                <a  data-bind="attr: {href: $parent.getUrl($data} />
</div>
</div>
`

[2017-06-14 23:00] brianmhunt commented on #49
@sacredMonster Please add a jsFiddle.  As a support question you may better results on StackOverflow.

[2018-04-09 17:07] rposener opened #50 "Wrapping fastForEach in If causes removeNodes to fail"
Hi came across this when trying to use this binding (which works great by the way).

If you wrap the fastforeach binding in a  it will in many cases, cause an error, as the delete function runs after the nodes are removed from DOM, so nextSibling does not return the next item.  This causes pendingDeletes to have the first Node, then gets a null as the second which has 2 problems;
1. it throws duri

[2018-04-09 19:15] cervengoc commented on #50
Hi @rposener, could you please put together a jsfiddle or similar to show us how to reproduce this issue? I've used this binding for years now in many complex situations and didn't experience this behavior.

Thanks

[2018-04-09 22:21] rposener commented on #50
Hi @cervengoc  - it took me a little to bring in enough functionality to get it to replicate in a simple enough manner.  Here is an example: [jsFiddle](https://jsfiddle.net/rposener/vcoLcju9/) .  Maybe you can point out something else that I'm doing that is causing the issue.  Works OK with normal foreach.

[2018-04-17 18:41] rposener commented on #50
@cervengoc or @brianmhunt any ideas on this?  I'm discovering that this is leaving some other things not properly disposed after changing.

[2018-04-17 22:09] rposener commented on #50
Just an update on this -  what I've done to work around this in my application is only use the if: binding to delay the init of the template binding until I've rendered (in code) the template.  I've modified my approach such that I have a component that never has to re-render my template.  I had gotten into the pre-rendering of a template programmatically as I had nested for-each bindings (a table

[2018-04-18 10:51] brianmhunt commented on #50
Thanks @rposener Glad you solved the issue, and thanks for reporting — good to know about this (even if we can't get it resolved immediately)

[2018-07-03 21:01] arsenal942 commented on #38
@brianmhunt Any movement on this? I have multiple `fastforEach` in a template (both nested and un-nested) and once I call one, any subsequent calls are having the node cleared and don't display any results.

[2018-07-03 21:23] brianmhunt commented on #38
I haven't looked at this in a bit, but if you can nail down a test that'd certainly go a long way — and in any case, a PR is welcome.

[2019-10-30 08:06] jensb opened #52 "'as' parameter not compatible to knockout-v3.5 behaviour, or not implemented?"
We are using large nested foreach loops in KO templates with 'as', i.e.

    <div data-bind="foreach: { data: data, as: 'mydata' }">
        <div data-bind="foreach: { data: data2, as: 'mydata2' }">
             ....
         </div>
     </div>

to be able to refer to parent objects in a simpler way than using $parent and $parents[n].
However, this does not seem to work correctly with Knockout. Wh

[2019-10-30 12:26] jensb commented on #47
Yes, can we please do this? We are using the 'as' parameter heavily in knockout-v3.5 (see also issue 52) and would love to benefit from the speedup this library provides.

[2019-11-01 14:03] brianmhunt commented on #47
Thanks @jensb — do you think you'd be able to put together a PR?

[2019-11-01 19:15] jensb commented on #47
I tried. Let's see if it works, shall we? :-)

[2019-11-06 21:47] jensb commented on #47
Can you please tes this PR? I am getting errors about $parent being undefined when testing it on my app. Is this variable now obsolete (and what do I replace it with)?

[2019-11-20 12:00] jensb commented on #52
I created a pull request https://github.com/brianmhunt/knockout-fast-foreach/pull/53
It works on my end, but I'm not sure if all tests are correct and pass.
Please check and integrate if it works.
Thank you!

[2019-11-21 15:37] brianmhunt commented on #47
Hi @jensb I'm not set up to test this right now, but if `$parent` is missing, I'd think the problem is with one of the return values of `createContextGenerator` — in particular look to see if what they return contains `$parent`.